@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* colors */
  --color-primary: "#EE2B69";
  --color-primary-100: "#FFE8F0";
  --color-secondary: "#FBE843";
  /* --color-black: "#000000"; */
  --color-black-100: "#333333";
  --color-black-200: "#141413";
  --color-black-300: "#7D8087";
  /* breakpoints */
  --breakpoint-xs: 475px;
  /* font */
  --font-work-sans: "Work Sans", sans-serif;
  /* --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem; */
}

@layer utilities {
  .heading {
    @apply  uppercase bg-black px-6 py-3 font-work-sans font-extrabold text-white sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5 w-screen
  }
  .pink_container {
    @apply w-full bg-[#EE2B69] min-h-[530px] flex justify-center items-center flex-col py-10 px-6;
  }

  .pattern {
    background-image: linear-gradient(
            to right,
            transparent 49.5%,
            rgba(251, 232, 67, 0.2) 49.5%,
            rgba(251, 232, 67, 0.6) 50.5%,
            transparent 50.5%
    );
    background-size: 5% 100%;
    background-position: center;
    background-repeat: repeat-x;
  }
}